.Table{
    text-align: center;
    background-color: rgb(141, 137, 196);
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background:  rgb(73, 79, 82);
    color: white;

}
.input {
    display: flex;
    
    /* justify-items: center; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.425);
    
  }
.input2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgb(39, 39, 49));
    /* background: #fff; */
  
    border-radius: 20px;
    /* border: 5px solid; */
    padding: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}